<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinodevice.pms.sys.org.mapper.OrgMapper">

    <select id="listAll" resultType="com.sinodevice.pms.sys.org.entity.Org">
        SELECT id,pid,name,id AS `value` FROM sys_org WHERE deleted=0 ORDER BY id
    </select>
</mapper>
