<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinodevice.pms.report.daily.mapper.ReportDailyDetailsMapper">

    <select id="listByDailyId" resultType="com.sinodevice.pms.report.daily.vo.ReportDailyDetailsVo">
        SELECT r1.*, p1.`NAME` AS PROJECT_NAME
        FROM report_daily_details r1
                 JOIN project_info p1 ON p1.ID = r1.PROJECT_ID
        where r1.DAILY_ID = #{dailyId}
    </select>

</mapper>
