<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinodevice.pms.report.week.mapper.ReportWeekDetailsMapper">

    <select id="list" resultType="com.sinodevice.pms.report.week.vo.ReportWeekDetailsVo">
        SELECT R1.*,S1.REAL_NAME,P1.REMARK AS TASK_REMARK
        FROM report_week_details R1 JOIN report_week R2 ON R2.DELETED = 0 AND R1.REPORT_ID = R2.ID AND R2.WEEK_INDEX = #{weekIndex}
        JOIN SYS_USER S1 ON R2.USER_ID = S1.ID
        LEFT JOIN project_task_process P1 ON R1.TASK_ID = P1.TASK_ID AND P1.USER_ID = R2.USER_ID
        ORDER BY S1.REAL_NAME ASC
    </select>


    <select id="listWorkDetails" resultType="com.sinodevice.pms.report.work.vo.ReportWorkDetailsVo">
        SELECT P1.TASK_ID,P3.NAME AS PROJECT_NAME,P2.NAME AS TASK_NAME, S1.REAL_NAME AS USER_REAL_NAME,
        P1.BEGIN_TIME,P1.END_TIME,P1.REAL_END_TIME,IFNULL(P1.WORK_HOUR,0) AS WORK_HOUR,DATE_FORMAT(P1.BEGIN_TIME,'%Y-%m-%d') AS DAY
        FROM project_task_process_details P1 JOIN project_task P2 ON P1.TASK_ID = P2.ID
        JOIN PROJECT_INFO P3 ON P2.PROJECT_ID = P3.ID
        JOIN SYS_USER S1 ON P1.USER_ID = S1.ID
        AND P1.BEGIN_TIME <![CDATA[ >= ]]> #{beginTime}
        AND (P1.END_TIME <![CDATA[ <= ]]> #{endTime} OR P1.END_TIME IS NULL)
        ORDER BY USER_ID,BEGIN_TIME ASC
    </select>

</mapper>
