<?xml version="1.0" encoding="UTF-8"?>
<!--status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。-->
<!--monitorInterval：Log4j2能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。-->
<Configuration status="off" monitorInterval="600">
    <Properties>
        <!--通用变量-->
        <property name="LOG_HOME">../logs/service-system</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="INFO_LOG_FILE_NAME">info</property>
        <Property name="PATTERN">[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} - (%F:%L) - %m%n</Property>
    </Properties>
    <Appenders>
        <!-- 控制台日志打印 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <!--输出日志的格式-->
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
        <!-- 服务器日志文件记录 -->
        <RollingRandomAccessFile name="ErrorLog" fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="InfoLog" fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!--AsyncLogger-->
        <AsyncLogger name="com.sinodevice.pms" level="info" includeLocation="true"/>
        <AsyncLogger name="com.sinodevice.pms.core.p6spy" level="debug" includeLocation="true"/>
        <AsyncLogger name="com.baomidou.mybatisplus" level="error" includeLocation="true"/>
        <AsyncLogger name="io.swagger" level="error" includeLocation="true"/>
        <!--root的logger-->
        <AsyncRoot level="warn" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoLog"/>
            <AppenderRef ref="ErrorLog"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
